<h3>Exercise</h3>

<p >Predict canada's per capita income in year 2020. There is an exercise folder here on github at same level as this notebook, download that and you will find canada_per_capita_income.csv file. Using this build a regression model and predict the per capita income fo canadian citizens in year 2020</p>

<h3>Answer</h3>
41288.69409442

In [26]:
# import all the libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [4]:
cpc_df = pd.read_csv("canada_per_capita_income.csv")
cpc_df.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [5]:
cpc_df.tail()

    year  per capita income (US$)
42  2012              42665.25597
43  2013              42676.46837
44  2014              41039.89360
45  2015              35175.18898
46  2016              34229.19363

In [6]:
# creating the training data as year_train and per_capita_income train as pci_train
year_train=cpc_df[['year']]
year_train.head()

   year
0  1970
1  1971
2  1972
3  1973
4  1974

In [10]:
pci_train=cpc_df[['per capita income (US$)']]
pci_train.head()

   per capita income (US$)
0              3399.299037
1              3768.297935
2              4251.175484
3              4804.463248
4              5576.514583

In [11]:
# create liner regression object and model:
reg = linear_model.LinearRegression()
reg.fit(year_train, pci_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
reg.predict([[2019]])

array([[40460.22901919]])

In [20]:
pci_2020 = reg.predict([[2020]])
pci_2020

array([[41288.69409442]])

In [22]:
print("per capita income for 2020 based on above data will be ", pci_2020[0])

per capita income for 2020 based on above data will be  [41288.69409442]